/* Background */
html, body, #content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

html, body {
  text-align: center;
  background-color: rgb(58, 136, 254);
}


.DefaultFontStyle {
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.MainMessage {
  position: relative;
  display: block;
  top: 20%;
}


/* CONTAINERS */

div#startContainer,
div#sequenceContainer,
div#formContainer,
div#endContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  margin : 0;
  padding: 0;
}

/* START */


img#startLogo {
  height: 80px;
  margin: auto;
}

/* Start button */
button#startButton {
  margin: 10% auto;
  background-color: rgb(29, 161, 242);;
  border: none;
  font-size: 22px;
  height: 45px;
  width: 150px;
  border-radius: 50px;
  outline: none;
}
button#startButton:hover {
  background-color: rgb(59, 191, 272);
  cursor: pointer;
}

/* Adblock warning message */
div#adBlockWarning {
  position: absolute;
  padding-top: 20%;
  width: 100%;
  height: 100%;
  font-size: 30px;
}

/* Instructions */
span#startMsg {
  opacity: 0%;
  font-size: 30px;

  animation-name: startMessage;
  animation-duration: 5s;
}

/* Tweet */
div[id*='tweetContainer'] {
  position: absolute;
  min-width: 500px;
  width: 5%; /* default tweet width */
  opacity: 0%;
  transform: scale(0, 0);
/*
  -webkit-font-smoothing: subpixel-antialiased;
*/
  animation-name: popup;
  animation-delay: 1s;
  animation-duration: 30s;
}

/* Animation */
@keyframes popup {
  0%   { margin: 0; transform: scale(1.5, 1.5) translate3d(0, 0, 0) perspective(10px); }
  5%   { opacity: 0%; }
  7%   { opacity: 100%; }
  10%  { transform: scale(1.00, 1.00) translate3d(0, 0, 0) perspective(10px); }
  30%  { opacity: 100%; }
  75%  { opacity: 0%; }
  100% { left: 50%; top: 50%; margin-left: -250px; margin-top: -250px; transform: scale(0.00, 0.00) translate3d(0, 0, 0) perspective(10px); }
}

@keyframes startMessage {
  0%   { opacity: 0%; }
  5%   { opacity: 100%; }
  90%  { opacity: 100%; }
  100% { opacity: 0%; }
}


/* Form */
div#formContainer {
  animation-name: formDisplay;
  animation-duration: 6s;
}

span#formMsg {
  font-size: 30px;
}

div#inputContainer {
  margin-top: 20px;
}
input#formInput {
  border-radius : 50px;
  margin-right: 10px;
  text-align: center;
  border: none;
  color: white;
  width: 200px;
  height: 45px;
  background-color: rgb(37, 51, 65);
  outline: none;
}
input#formInput:focus {
  background-color: transparent;
  border: solid rgb(29,161,242) 1px;
}
/* Hide arrows into input number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button#formValid {
  border-radius: 50px;
  margin-left: 10px;
  border: none;
  width: 200px;
  height: 50px;
  background-color: rgb(29, 161, 242);
  transition: ease-out 0.2s;
  outline: none;
}
button#formValid:hover {
  color: white;
  background-color: rgb(59, 191, 272);
}
span#formWarning {
  font-size: 14px;
  font-weight: normal;
  color: rgb(61, 72, 83);
  margin-top: 10px;
  width: 100%;
  height: 25px;
  opacity: 0%;
}
.WarningFadeOut {
  animation-name: WarningFadeOut;
  animation-duration: 6s;
}
@keyframes WarningFadeOut {
  0%   { opacity: 100%; }
  75%  { opacity: 100%; }
  100% { opacity: 0%; }
}

span#endMsg, span#endMsg2 {
  font-size: 30px;
}

button#endButton {
  position: relative;
  border-radius: 50px;
  border: none;
  width: 150px;
  height: 45px;
  background-color: rgb(29, 161, 242);
  transition: ease-out 0.2s;
  outline: none;
  margin: 5% auto;
}
button#endButton:hover {
  color: white;
  background-color: rgb(59, 191, 272);
}

@keyframes formDisplay {
  0%   { opacity: 0%; }
  75%  { opacity: 0%; }
  100% { opacity: 100%; }
}